* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }


  
  .container {
    display: grid;
    grid-template-areas:
      "header"
      "content"
      "signup"
      "feature1"
      "feature2"
      "feature3";
    grid-template-columns: 1fr;
    gap: 10px;
    width: 90%;
    max-width: 1200px;
  }
  
  .header {
    grid-area: header;
    background-color: #3ab1d9;
    text-align: center;
    padding: 20px;
    position: static;
    height: 15vh;
  }
  
  .content {
    grid-area: content;
    background-color: #887f7f;
    text-align: center;
    padding: 20px;
  }
  
  .signup {
    grid-area: signup;
    background-color: #c581bf;
    text-align: center;
    padding: 20px;
  }
  
  .feature {
    background-color: #dda0dd;
    text-align: center;
    padding: 20px;
  }
  
  .feature1 {
    background-color: #f4a460;
    height:20vh;
  }
  
  .feature2 {
    background-color: #dda0dd;
    height:20vh
  }
  
  .feature3 {
    background-color: #ff7f7f;
  }
  
  
  @media(min-width: 768px) {
    .container {
      grid-template-areas:
        "header header"
        "content content"
        "signup feature1"
        "feature2 feature3";
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media(min-width: 1024px) {
    .container {
      grid-template-areas:
        "header header header"
        "feature1 feature2 feature3"
        "signup signup signup"
        "content content content";
      grid-template-columns: repeat(3, 1fr);
    }
  }